.section {
  background-color: #1738a1;
  padding: 5rem;
}

.text-container {
  line-height: 2;
  width: 50%;
  margin: auto;
  color: white;
  text-align: center;
}

.text-container p {
  margin-top: 0;
  font-size: 1.5rem;
}

.heading {
  margin: 0;
  font-size: 2.5rem;
}

.container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

@media screen and (max-width: 500px) {
  .heading {
    margin: 0;
    font-size: 2rem;
  }

  .container {
    flex-direction: column;
  }

  .text-container {
    width: 100%;
  }
}
