.card {
  border-left: 10px solid #34c1f4;
  border-radius: 20px;
  padding: 20px;
  text-align: left;
  background-color: white;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.1);
  max-width: 400px;
}

.card p {
  font-style: italic;
}

.card a {
  text-decoration: underline;
  text-decoration-thickness: 0.1em;
  text-underline-offset: 0.2em;
  cursor: pointer;
}

.card img {
  width: 100%;
}
