.card {
  box-sizing: border-box;
  border: 1px solid #f6c8cb;
  width: 402px;
  height: 402px;
  position: relative;
}

.title {
  color: #000;
  font-family: var(--font-spartan-500);
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.4px;
  text-align: left;
}

.bodyText {
  color: #000;
  font-family: var(--font-satoshi-light);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1.12px;
  text-align: left;
}

.link {
  color: #000;
  font-family: var(--font-satoshi-light);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1.12px;
  text-decoration-line: underline;
  position: absolute;
  left: 85px;
  bottom: 58px;
}

.card img {
  width: 100%;
}
