.container {
  width: 60%;
  margin: auto;
}

.container p {
  white-space: pre-line;
  color: #000;
  font-family: var(--font-satoshi-light);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 1.26px;
}
