html {
  scroll-behavior: smooth;
}

.input-width {
  width: 200px;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
}

.module-text {
  width: 70%;
  margin: 1rem auto;
  text-align: justify;
  padding: 1rem 2rem;
  line-height: 1.5rem;
}

.margin-left {
  margin-left: 2rem;
}

.blue-text {
  color: #3c78d8;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.center-text {
  text-align: center;
}

.payment-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 50%;
  margin: auto;
}

.payment-preview > table {
  width: 50%;
}
