.container {
  width: 100%;
  max-width: 355px;
}

.label {
  color: #000;
  font-family: var(--font-satoshi-light);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.4px;
}

.input {
  margin-top: 5px;
  max-width: 355px;
  width: 100%;
  height: 51px;
  border-radius: 10px;
  border: 1px solid #b18a8a;
  padding-left: 17px;
}

.input::placeholder {
  color: #b3b3b3;
  font-family: var(--font-satoshi-light);
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.98px;
}

.invalid-text {
  font-family: var(--font-inter);
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.75px;
  text-align: right;
  margin: 0;
  margin-top: 3px;
}
