.button {
  border: 1px solid #584c62;
  font-family: var(--font-spartan-700);
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.12px;
  padding: 14px 19px;
  cursor: pointer;
}

.button:hover {
  color: black;
  background-color: white;
}

.button:disabled {
  opacity: 0.5;
  cursor: default;
}
