.header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.navigation li a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  letter-spacing: 0.06em;
}

.navigation li a:hover {
  color: #007bff;
  text-decoration: underline;
}

.navigation {
  display: flex;
}

.navigation li {
  list-style: none;
  padding-left: 1rem;
}

.logo {
  cursor: pointer;
}
