.section {
  display: flex;
  background: linear-gradient(
    42deg,
    rgba(177, 138, 138, 0.4) 0%,
    rgba(220, 202, 202, 0.18) 15.43%,
    rgba(194, 163, 163, 0.31) 21.74%,
    rgba(198, 169, 169, 0.29) 30.7%,
    rgba(198, 169, 169, 0.29) 71.56%,
    rgba(198, 169, 169, 0) 92.5%,
    rgba(198, 169, 169, 0.29) 97.1%,
    rgba(255, 255, 255, 0) 100%
  );
  color: white;
  height: 479px;
}

.container {
  max-width: 736px;
  margin: auto;
}

.section h1 {
  color: #000;
  font-family: "League Spartan", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 46px;
  letter-spacing: 2.52px;
}

.buttonContainer {
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 500px) {
  .section ul {
    display: none;
  }

  .container {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .section h1 {
    font-size: 2rem;
  }
}
