.footer {
  background: #b18a8a;
  color: #fff;
  font-family: var(--font-satoshi-light);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1.4px;
  line-height: normal;
  padding: 29px 168px 28px 168px;
}

.footer a {
  color: #fff;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1100px;
  margin: auto;
}

.rules {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1.12px;
  text-decoration-line: underline;
}
