.container {
  text-align: center;
  padding-top: 174px;
  padding-bottom: 123px;
}

.container > h1 {
  color: #000;
  font-family: var(--font-spartan-500);
  font-size: 24px;
  line-height: normal;
  letter-spacing: 1.68px;
}

.topHeading {
  margin-top: 0;
}

.container > p {
  color: #000;
  font-family: var(--font-satoshi-light);
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.4px;
  margin-bottom: 51px;
}

.flex-container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 60px;
  max-width: 1000px;
}

.middleHeading {
  margin-top: 51px;
  margin-bottom: 51px;
}

@media screen and (max-width: 800px) {
  .container {
    padding-top: 29px;
  }

  .container > h1 {
    font-size: 20px;
    font-style: normal;
    letter-spacing: 1.4px;
  }

  .container > p {
    font-size: 16px;
    letter-spacing: 1.12px;
    padding-right: 10%;
    padding-left: 10%;
    margin-bottom: 41px;
  }

  .flex-container {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 14px;
    padding-right: 5%;
    padding-left: 5%;
  }
}
