.section {
  background: linear-gradient(
    18deg,
    #e3d6d7 0%,
    rgba(235, 226, 227, 0.71) 7.82%,
    rgba(229, 217, 218, 0.93) 32.49%,
    rgba(229, 216, 217, 0.95) 33.39%,
    rgba(230, 218, 219, 0.91) 44.78%,
    rgba(233, 223, 224, 0.78) 53.81%,
    rgba(255, 255, 255, 0) 100%
  );
  text-align: center;
  padding-top: 64px;
  padding-bottom: 71px;
}

.ctaText {
  color: #000;
  font-family: "League Spartan", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.68px;
  margin-top: 0;
  margin-bottom: 46px;
}

.ctaBodyText {
  color: #000;
  text-align: center;
  font-family: var(--font-satoshi-light);
  font-size: 20px;
  line-height: normal;
  letter-spacing: 1.4px;
  margin-bottom: 62px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 19px;
}

@media screen and (max-width: 500px) {
  .text-container {
    margin: auto;
    width: 100%;
  }
}
