.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 542px;
  height: 561px;
  margin: auto;
  border-radius: 20px;
  border: 1px solid #b18a8a;
  padding-top: 64px;
  gap: 28px;
}

.heading {
  color: #000;
  font-family: var(--font-spartan-500);
  font-size: 20px;
  line-height: normal;
  letter-spacing: 1.4px;
  margin-bottom: 37px;
}

.container {
  max-width: 355px;
  width: 100%;
  text-align: left;
}

.container > a {
  color: #000;
  font-family: var(--font-inter);
  font-size: 15px;
  font-style: italic;
  line-height: normal;
  letter-spacing: 1.05px;
  text-decoration-line: underline;
}

.error {
  color: #ff7384;
  font-family: var(--font-inter);
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.75px;
}
