.container {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  max-width: 900px;
  gap: 20px;
}

@media screen and (max-width: 800px) {
  .container {
    max-width: 90%;
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
